<footer>
    <div class="account">
        <a href="ehsas.1998000@gmail.com" class="fa fa-envelope"></a>
        <a href="https://www.facebook.com/profile.php?id=100009055263914" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/feelingala/" class="fa fa-instagram"></a>
        <a href="https://twitter.com/ehsass_elias" class="fa fa-twitter"></a>
        <a href="https://github.com/EhsasElias" class="fa fa-github"></a>
    </div>
</footer>