<nav>
    <ul>
        <a href="#about">
            <li class="about">
                <div>
                    <p class="fa fa-user"></p>
                    <p>ABOUT</p>
                </div>

            </li>
        </a>
        <a href="#resume">
            <li class="resume">
                <div>
                    <p class="fa fa-file-text"></p>
                    <p>RESUME</p>
                </div>
            </li>
        </a>
        <a href="#works">
            <li class="works">
                <div>
                    <p class="fa fa-paint-brush"></p>
                    <p>WORKS</p>
                </div>
            </li>
        </a>
        <a href="#contact">
            <li class="contact">
                <div>
                    <p class="fa fa-at"></p>
                    <p>CONTACT</p>
                </div>
            </li>
        </a>
    </ul>
</nav>