<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <title>my cv</title>
</head>

<body>
  
    <div>
        <div class="innerContainer" id="innerContainer">

            <%- include('header.ejs') %>
            

            <div class="pinfodiv">
                <section class="pinfo" id="pinfo">
                    <div class="mypic" id="theImage">
                        <div class="layer1"></div>

                    </div>
                    <p class="title">Ehsas Al-azazi</p>
                    <p class="subtitle">
                        <span>Web Designer & Developer</span>
                    </p>
                    <div class="account">
                        <a href="ehsas.1998000@gmail.com" class="fa fa-envelope"></a>
                        <a href="https://www.facebook.com/profile.php?id=100009055263914" class="fa fa-facebook"></a>
                        <a href="https://www.instagram.com/feelingala/" class="fa fa-instagram"></a>
                        <a href="https://twitter.com/ehsass_elias" class="fa fa-twitter"></a>
                        <a href="https://github.com/EhsasElias" class="fa fa-github"></a>
                    </div>

                    <div class="buts">
                        <button id="downloadbut">DOWNLOAD CV</button>

                        <button id="contactbut">CONTACT ME</button>
                    </div>
                </section>
            </div>



            <div class="aboutMediv">
                <section class="aboutMe" id="about">
                    <h4>
                        <span class="green">About</span> Me
                    </h4>
                    <article>
                        I am Ehsas Al-azazi, web designer from Yemen,
                        Sana'a. I have rich experience in web
                        site design and building and customization,
                        also I am good at wordpress. I love to talk
                        with you about our unique.
                    </article>
                    <div class="aboutMe2div">
                        <ul>
                            <li>
                                <p class="dot">Material-status...</p>
                                <p class="fend">Single</p>
                            </li>
                            <li>
                                <p class="dot">Nationality...</p>
                                <p class="fend">Yemeni</p>
                            </li>
                            <li>
                                <p class="dot">Address...</p>
                                <p class="fend">sana'a ,Yemen</p>
                            </li>
                        </ul>
                    </div>
                    <div>

                        <section class="myServices">
                            <h4>
                                <span class="green">My</span> Services
                            </h4>

                            <div class="seviceChild">
                                <button class="fa fa-code"></button>
                                <b>Web Development</b>
                                <p>Modern and mobile-ready website
                                    that will help you reach all of
                                    your marketing.</p>
                            </div>
                            <div class="seviceChild">
                                <button class="fa fa-adn"></button>
                                <b>Advetising</b>
                                <p>Advertising services include
                                    television, radio, print, mail,
                                    and web apps.</p>
                            </div>

                            <div class="seviceChild"><button class="fa fa-mobile"></button>
                                <b>Mobile Apps Development</b>
                                <p>
                                    Develop mobile apps using adaroid
                                    espicially for schools.
                                </p>
                            </div>
                            <div class="seviceChild">
                                <h4 class="quteh4">
                                    <span class="green">Q</span>uote
                                </h4>
                                <p class="qutep">

                                    <q> &#128153; It always seems impossible until it's done</q>
                                    <q>&#128154; Actions speak louder than words</q>
                                    <q>&#128155; Greate haste makes great waste</q>

                                </p>
                            </div>
                        </section>

                </section>
                <div class="resumeDiv">
                    <section class="Resume" id="resume">
                        <h4>
                            <span class="green">Re</span>sume
                        </h4>
                        <div class="exDiv">
                            <div>

                                <h5>
                                    <span class="fa fa-shopping-bag"></span>
                                    EXPERIENCE
                                </h5>
                            </div>
                            <div class="exper">
                                <div>
                                    <p class="expertdate">2018 - present</p>
                                    <b>Front-end Developer</b>
                                    <p class="explace">Google Inc.</p>
                                    <p>Monitored technical aspects of the front-end
                                        delivery for several projects.</p>
                                </div>
                            </div>
                            <div class="exper">
                                <div>
                                    <p class="expertdate">2020 - 2021</p>
                                    <b>Art Director</b>
                                    <p class="explace">Facebook Inc.</p>
                                    <p>Collaborate with creative and development teams
                                        on the execution of ideas.</p>
                                </div>
                            </div>
                        </div>


                        <div class="eduDiv">
                            <div>

                                <h5>
                                    <span class="fa fa-bank"></span>
                                    EDUCATION
                                </h5>
                            </div>
                            <div>
                                <div class="edu">
                                    <p class="edudate">2020 - 2021</p>
                                    <b>Sana'a University</b>
                                    <p class="edplace">Sana'a</p>
                                    <p>Bachelor's Degree in Information Technology</p>
                                </div>
                            </div>
                            <div>
                                <div class="edu">
                                    <p class="edudate">2022 - 2022</p>
                                    <b>Web Development</b>
                                    <p class="edplace">Rowad Academy</p>
                                    <p>Coursework - Git, Css, Javascript,
                                        BS, Laravel.</p>
                                </div>
                            </div>
                        </div>





                        <div class="skills">
                            <h4>
                                <apan class="green">My</apan> Skills
                            </h4>
                            <div class="skillsdetails">

                                <h5>
                                    <span class="fa fa-paint-brush"></span>
                                    DESIGN
                                </h5>
                                <div>
                                    <p>Web Design <span>7/10</span></p>
                                    <p>Mobile Design <span>5/10</span></p>
                                    <p>UX UI <span>9/10</span></p>
                                    <p>Potoshop <span>3/10</span></p>
                                </div>
                            </div>
                        </div>

                    </section>
                </div>
                <div class="myWorkDiv">
                    <section class="myWorks" id="works">
                        <div>
                            <h4>
                                <apan class="green">Recent</apan> Works
                            </h4>
                        </div>

                        <div>
                            <div>
                                <h5>
                                    <ul class="tabs">
                                        <a href="#all">
                                            <li> All</li>
                                        </a>
                                        <a href="#pics">
                                            <li> Pics</li>
                                        </a>
                                        <a href="#ved">
                                            <li> Vedios</li>
                                        </a>
                                    </ul>
                                </h5>
                            </div>
                        </div>
                        <div id="all">
                            <div id="pics">
                                <p><img src="imgs/mob1.jpg" width="350" height="460" alt=""></p>
                                <p><img src="imgs/mob2.jpg" width="350" height="460" alt=""></p>
                                <p><img src="imgs/mob3.jpg" width="350" height="460" alt=""></p>
                                <p><img src="imgs/web1.png" width="350" height="460" alt=""></p>
                                <p><img src="imgs/web2.jpg" width="350" height="460" alt=""></p>
                            </div>

                            <div id="ved">

                                <video width="400" height="240" controls>
                                    <source src="vedios/mobile.mp4" type="video/mp4">
                                </video>
                                <video width="400" height="240" controls>
                                    <source src="vedios/vedDesign.mp4" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="contactDiv">
                    <section class="con" id="contact">
                        <div>
                            <h4>
                                <span class="green">Get</span> in Touch
                            </h4>
                        </div>
                        <div>
                            <div class="map">
                                <p>
                                    <span>Address</span>
                                    <span>Sana'a</span>
                                </p>
                                <p>
                                    <span>Email</span>
                                    <a
                                        href="https://accounts.google.com/SignOutOptions?hl=ar&continue=https://mail.google.com&service=mail">ehsas.1998000@gmail</a>
                                </p>
                                <p>
                                    <span>Phone</span>
                                    <span>+967-777 610 960</span>
                                </p>
                            </div>
                            <div class="form">
                                <div>
                                    <h5>
                                        <span class="green">Contact</span> Form
                                    </h5>
                                </div>
                                <form action="" id="form">
                                    <div>
                                        <label for="username">User Name</label>
                                        <input type="text" placeholder="Full Name" id="username" class="name">
                                        <small id="usermsg"></small>
                                    </div>

                                    <div>
                                        <label for="email">Email</label>
                                        <input type="text" placeholder="Email Address" id="email" class="email">
                                        <small id="emailmsg"></small>
                                    </div>
                                    <div>
                                        <label for="message">Message</label>
                                        <input type="text" placeholder="Your Message" id="textarea" class="mesg">
                                        <small id="textmsg"></small>
                                    </div>
                                    <div>
                                        <button type="submit" id="submit">SEND MESSAGE</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
       <%- include('footer.ejs') %>
    </div>
    </div>
    <script src="js/js.js"></script>
</body>

</html>